<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
			crossorigin="anonymous"
		/>

		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='styles/style.css') }}"
		/>

		<title>Problem with submission</title>
	</head>
	<body>
		<section class="container-fluid d-flex align-items-center main-wrapper">
			<div class="container">
				<div class="row d-flex align-items-center bg-white rounded shadow">
					<div
						class="col-md-12 d-flex align-items-center justify-content-center"
					>
						<lottie-player
							src="https://assets4.lottiefiles.com/private_files/lf30_glnkkfua.json""
							background="transparent"
							speed="1"
							style="width: 420px; height: 420px"
							loop
							autoplay
						></lottie-player>

						<div class="mb-5 text-center px-md-5 px-2">
							<h1>ERROR</h1>

							<ul>
								{% for error in errors %}

								    <li class="lead">{{error}}</li>

								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
