<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='styles/style.css') }}"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
			crossorigin="anonymous"
		/>

		<title>Repo Doctor</title>
	</head>
	<body class="bg-light">
		<section class="container-fluid d-flex align-items-center main-wrapper">
			<div class="container">
				<div
					class="
						row
						d-flex
						align-items-center
						bg-white
						rounded
						shadow
					"
				>
					<div
						class="col-md-6 d-flex align-items-center justify-content-center"
					>
						<div
							class="anim rounded-circle bg-light"
							width="64vh"
							height="64vh"
						>
							<lottie-player
								src="https://assets6.lottiefiles.com/packages/lf20_E3llVz.json"
								background="transparent"
								speed="1"
								style="width: 420px; height: 420px"
								loop
								autoplay
							></lottie-player>
						</div>
					</div>
					<div class="col-md-6 py-5">
						<div class="mb-5 text-center px-md-5 px-2">
							<h1>RepoDoctor</h1>
							<p class="lead">
								Hi! I am RepoDoctor 👨‍⚕️. I can find vulnerabilities in your
								Python code so you can prevent security and privacy issues
							</p>
						</div>

						<form class="px-md-5 px-2" action="/analyze_repository" method="POST">
							<div class="mb-3">
								<label for="email" class="form-label">Email address</label>
								<input
									type="email"
									class="form-control"
									placeholder="example@mail.com"
									name="email"
									id="email"
								/>
							</div>

							<div class="mb-3">
								<label for="url" class="form-label">Repository URL</label>
								<input
									type="text"
									class="form-control"
									placeholder="https://github.com/myUser/myRepo.git"
									name="url"
									id="url"
								/>
							</div>

							</br>

							<button type="submit" class="btn btn-primary btn-lg mb-5">
								Submit
							</button>
						</form>

						<div class="disclaimer px-5">
							<p class="lead text-end fst-italic fw-bolder text-muted fs-6">
								The repository should be public, and repo doctor can only detect vulnerabilities in Python projects using Pysa.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
